<div class="container">
  <form method="post" action="/restaurants/{{targetRestaurant._id}}/edit" id="restaurant-form" novalidate>

    <div class="profile mt-5">
      <h1>
        餐廳介紹資料編輯
      </h1>
      <hr />

      <div class="form-row mb-3">
        <div class="col input-group">
          <div class="input-group-prepend">
            <label for="name" class="input-group-text">
              名稱：
            </label>
          </div>
          <input type="text" class="form-control" id="name" name="name" value="{{ targetRestaurant.name }}"
            placeholder="請輸入餐廳名稱(中英文皆可)" required>
          <div class="valid-feedback">輸入正確</div>
          <div class="invalid-feedback">請輸入餐廳名稱(中英文皆可)</div>
        </div>

        <div class="col input-group">

          <div class="input-group-prepend">
            <label for="name_en" class="input-group-text">
              英文：
            </label>
          </div>

          <input type="text" class="form-control" id="name_en" name="name_en" placeholder="請輸入餐廳英文名稱(可含空白)"
            pattern="[a-zA-Z ]{1,}" value="{{ targetRestaurant.name_en }}">
          <div class="valid-feedback">輸入正確(可不填寫)</div>
          <div class="invalid-feedback">請輸入餐廳英文名稱</div>
        </div>
      </div>


      <div class="form-row mb-3">
        <div class="col input-group">
          <div class="input-group-prepend">
            <label for="category" class="input-group-text">
              類別：
            </label>
          </div>
          <input type="text" class="form-control" list="categories" id="category" name="category"
            value="{{ targetRestaurant.category }}" placeholder="請輸入餐廳類別或依據預設清單來選" required>
          <datalist id="categories">
            <option>日本料理</option>
            <option>義式餐廳</option>
            <option>中東料理</option>
            <option>美式</option>
            <option>咖啡</option>
            <option>酒吧</option>
          </datalist>
          <div class="valid-feedback">輸入正確</div>
          <div class="invalid-feedback">請輸入餐廳類別或依據預設清單來選</div>
        </div>

        <div class="col input-group">
          <div class="input-group-prepend">
            <label for="rating" class="input-group-text">
              評分：
            </label>
          </div>
          <input type="number" min="0" max="5" step="0.1" class="form-control" id="rating" name="rating"
            placeholder="請輸入餐廳評分(0.0-5.0)" value="{{ targetRestaurant.rating }}">
          <div class="valid-feedback">輸入正確(可不填寫)</div>
          <div class="invalid-feedback">請輸入餐廳類別或依據預設清單來選</div>
        </div>

      </div>

      <div class="form-row mb-3">
        <div class="col input-group">
          <div class="input-group-prepend">
            <label for="description" class="input-group-text">
              簡介：
            </label>
          </div>
          <textarea class="form-control description" id="description" name="description" rows="5" cols="12"
            placeholder="請輸入餐廳簡介" required>{{ targetRestaurant.description }}</textarea>
          <div class="valid-feedback">輸入正確</div>
          <div class="invalid-feedback">請輸入餐廳簡介</div>

        </div>
      </div>

      <div class="form-row mb-3">
        <div class="col input-group">
          <div class="input-group-prepend">
            <label for="image" class="input-group-text">
              圖片連結：
            </label>
          </div>
          <input type="url" class="form-control" id="image" name="image" placeholder="請輸入餐廳圖片URL"
            value="{{ targetRestaurant.image }}" required>
          <div class="input-group-append">
            <!-- Dialog Trigger -->
            <button class="btn btn-secondary" data-fancybox="dialog" data-src="#dialog-content"
              id="preview-image-btn">圖片預覽</button>

          </div>
          <div class="valid-feedback">輸入正確</div>
          <div class="invalid-feedback">請輸入餐廳圖片URL</div>
        </div>
      </div>

    </div>

    <div class="contact mt-5">
      <h1>
        地點與聯繫方式編輯
      </h1>
      <hr />

      <div class="form-row mb-3">
        <div class="col input-group">
          <div class="input-group-prepend">
            <label for="phone" class="input-group-text">
              電話：
            </label>
          </div>

          <input type="text" class="form-control" id="phone" name="phone" placeholder="請輸入餐廳電話，比如：02 1234 5678"
            pattern="\d{2} \d{4} \d{4}" value="{{ targetRestaurant.phone }}" required>
          <div class="valid-feedback">輸入正確</div>
          <div class="invalid-feedback">請輸入餐廳電話，比如：02 1234 5678</div>
        </div>
      </div>

      <div class="form-row mb-3">
        <div class="col input-group">
          <div class="input-group-prepend">
            <label for="location" class="input-group-text">
              地址：
            </label>
          </div>
          <input type="text" class="form-control" id="location" name="location" placeholder="請輸入餐廳地址"
            value="{{ targetRestaurant.location }}" required>
          <div class="valid-feedback">輸入正確</div>
          <div class="invalid-feedback">請輸入餐廳地址</div>
        </div>
      </div>

      <div class="form-row mb-3">
        <div class="col input-group">
          <div class="input-group-prepend">
            <label for="google_map" class="input-group-text">
              地址連結：
            </label>
          </div>
          <input type="url" class="form-control" id="google_map" name="google_map"
            placeholder="請輸入餐廳在Google Map所在連結，比如https://goo.gl/maps/bnZKC2YjYZp"
            value="{{ targetRestaurant.google_map }}">
          <div class="valid-feedback">輸入正確(可不填寫)</div>
          <div class="invalid-feedback">請輸入餐廳在Google Map所在連結</div>
        </div>

      </div>

    </div>
    <div class="d-flex justify-content-around mb-4">
      <button type="submit" class="btn btn-dark" id="submit">確認提交</button>
      <a class="btn btn-dark" href="/">返回主畫面</a>
    </div>
  </form>
</div>



<!-- Dialog Contents -->
<div id="dialog-content" style="display:none;max-width:500px;">
</div>



<script src=/javascripts/formValidation.js></script>